<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Search Results</h1>
    <p>Search keyword: {{ query }}</p>
    <p>Number of matched posts: {{ results|length }}</p>
    <ul>
    {% for result in results %}
        <li><a href="{% url 'blog:blog_detail' pk=result.pk %}">{{ result.title }}</a></li>
    {% empty %}
        <li>No results found.</li>
    {% endfor %}
    </ul>
</body>
</html>
