<!DOCTYPE html>
<html lang="en">
<head>
    <title>The BackBlog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome Page!</h1>
    <a href="{% url 'blog:home' %}">Enter the Blog!</a>

    {% if user.is_authenticated %}
        <a href="{% url 'blog:logout' %}">Logout</a>
        <a href="{% url 'blog:change_password' %}">비밀번호 변경하기</a>
    {% else %}
        <a href="{% url 'blog:login' %}">Login</a>
        <a href="{% url 'blog:signup' %}">Sign up</a>
    {% endif %}
</body>
</html>

{% comment %} 
최초의 시작 화면. 커버 페이지 역할.
{% endcomment %}