<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Latest Blog Posts:</h2>
    {% include 'blog_list.html' %}
    
    <form action="{% url 'blog:post_search' %}" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    
    {% comment %} 인증, 로그인, 회원 등록 및 확인 유무 {% endcomment %}
    {% if user.is_authenticated %}
        <a href="{% url 'blog:post_create' %}">Write a Post</a>
        <a href="{% url 'blog:logout' %}">Logout</a>
    {% else %}
        <p>To write a post, please sign in.</p>
        <a href="{% url 'blog:login' %}">Login</a>
        <a href="{% url 'blog:signup' %}">Sign up</a>
    {% endif %}
</body>
</html>


{% comment %} 
최초의 페이지 이 후, 링크 타고 오게 될 본 페이지.
최근 블로그 글을 표시.
현재 admin page 에서 작성 된 글만 표시되고 있음.
{% endcomment %}

